{% extends 'base.html' %}

{% block body %}

<br>

<div class="button-group">

    <a href="/laptops/" class="btn btn-primary btn-md" role="button">Laptops</a>
    <a href="/add_laptops/" class="btn btn-warning btn-sm" role="button"> + </a>

    <a href="/desktops/" class="btn btn-primary btn-md" role="button">Desktops</a>
    <a href="/add_desktops/" class="btn btn-warning btn-sm" role="button"> + </a>

    <a href="/mobiles/" class="btn btn-primary btn-md" role="button">Mobiles</a>
    <a href="/add_mobiles/" class="btn btn-warning btn-sm" role="button"> + </a>

</div>

<br>

<h4>currently viewing {{header}} </h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Model</th>
            <th>Price</th>
            <th>Status</th>
            <th>Issues</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.issues }}</td>

            {% if header|lower == "laptops" %}
            <td>
                <a href="{% url 'edit_laptop' item.pk %}" class="btn btn-warning btn-sm" role="btn">Edit</a>
            </td>
            {% elif header|lower == "desktops" %}
            <td>
                <a href="{% url 'edit_desktop' item.pk %}" class="btn btn-warning btn-sm" role="btn">Edit</a>
            </td>
            {% else %}
            <td>
                <a href="{% url 'edit_mobile' item.pk %}" class="btn btn-warning btn-sm" role="btn">Edit</a>
            </td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}